@{
    ViewBag.Title = "CRM OutBond Contact Center";
}

<!-- APP FOOTER -->
<div class="wrap p-t-0">
    <footer class="app-footer">
        <div class="clearfix">

            <div class="copyright pull-left">Copyright MIS Visionet 2016 &copy;</div>
        </div>
    </footer>
</div>
<!-- /#app-footer -->