<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>CRM Outbound Contact Center</title>
        
    @Styles.Render("~/Asset/css")
    <!-- Bootstrap Plugin -->
    @*<link href="~/Asset/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Material Design -->
    <link href="~/Asset/css/ripples.min.css" rel="stylesheet">
    <link href="~/Asset/css/app.css" rel="stylesheet">
    <link href="~/Asset/css/style.css" rel="stylesheet">
    <link href="~/Asset/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="~/Asset/css/bootstrap-select.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Asset/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- build:css ../assets/css/app.min.css -->
    <link href="~/Libs/bower/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Libs/bower/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="~/Libs/bower/material-design-iconic-font/dist/css/material-design-iconic-font.css" rel="stylesheet">*@
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900,300">*@
    <!-- endbuild -->
</head>
